<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Контакты</h2>
        <p>Сайт с самыми бесПолезными вещами на свете, не Упусти свой шанс!</p>
    </header>
    <div class="container">

        <!-- Content -->
        <section id="content">
            <div style="position:relative;overflow:hidden;"><a
                    href="https://yandex.kz/maps?utm_medium=mapframe&utm_source=maps"
                    style="color:#eee;font-size:12px;position:absolute;top:0px;">Яндекс.Карты</a><a
                    href="https://yandex.kz/maps/11457/khabarovsk-krai/geo/ozero_bespoleznoye/196698341/?l=sat%2Cskl&ll=132.581459%2C51.256028&utm_medium=mapframe&utm_source=maps&z=16"
                    style="color:#eee;font-size:12px;position:absolute;top:14px;">Озеро
                Бесполезное — Яндекс.Карты</a>
                <iframe src="https://yandex.kz/map-widget/v1/-/CCUyBABpoB"
                        width="100%" height="400" allowfullscreen="true"
                        style="position:relative;"></iframe>
            </div>
            <!--            <a href="#" class="image fit"><img src="images/pic07.jpg" alt=""/></a>-->
            <h3>Контактная форма</h3>
            <p>Пишите сюда всё, что пожелаете, возможно когда-нибудь
                форма будет обработана в кратчайшие сроки и с вами свяжутся,
                но это не точно.
            </p>
            <form method="post" action="#">
                <div class="row uniform">
                    <div class="6u 12u(3)">
                        <input type="text" name="name" id="name" value=""
                               placeholder="Имя"/>
                    </div>
                    <div class="6u 12u(3)">
                        <input type="email" name="email" id="email" value=""
                               placeholder="Email"/>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="12u">
                        <div class="select-wrapper">
                            <select name="category" id="category">
                                <option value="">- Категория -</option>
                                <option value="1">Благодарность</option>
                                <option value="2">Спасибствование</option>
                                <option value="3">Восхищение</option>
                                <option value="4">Одобрение</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="4u 12u(2)">
                        <input type="radio" id="priority-low" name="priority"
                               checked>
                        <label for="priority-low">Без уважения</label>
                    </div>
                    <div class="4u 12u(2)">
                        <input type="radio" id="priority-normal"
                               name="priority">
                        <label for="priority-normal">С уважением</label>
                    </div>
                    <div class="4u 12u(2)">
                        <input type="radio" id="priority-high" name="priority">
                        <label for="priority-high">За деньги</label>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="6u 12u(2)">
                        <input type="checkbox" id="copy" name="copy">
                        <label for="copy">Отправьте мне копию дырки от
                            бублика</label>
                    </div>
                    <div class="6u 12u(2)">
                        <input type="checkbox" id="human" name="human" checked>
                        <label for="human">Я думаю, что я робот</label>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="12u">
                        <textarea name="message" id="message"
                                  placeholder="Пишите сюда, не стесняйтесь"
                                  rows="6"></textarea>
                    </div>
                </div>
                <div class="row uniform">
                    <div class="12u">
                        <ul class="actions">
                            <li><input type="submit"
                                       value="Отправить, я уверен"/>
                            </li>
                            <li><input type="reset"
                                       value="Сбросить, я передумал"
                                       class="alt"/>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
        </section>

    </div>
</section>