<section id="main" class="wrapper style1">
    <header class="major">
        <h2>О нас</h2>
        <p>Сайт с самыми бесПолезными вещами на свете, не Упусти свой шанс!</p>
    </header>
    <div class="container">

        <!-- Content -->
        <section id="content">
            <!--            <a href="#" class="image fit"><img src="images/pic07.jpg" alt=""/></a>-->
            <h3>Не молодо, не зелено</h3>
            <p>Мы на рынке настолько недовно, что уже успели стать
                незамеченными никем.
                Например: о нас ничего не знают такие люди как Василий Пупкин,
                Толя Ложкин, Коля Спичкин и другие медийные неизвестные
                личности.
            </p>
            <h3>Как, куда, где и когда?</h3>
            <ul>
                <li>Любым способом;</li>
                <li>Куда неугодно;</li>
                <li>Везде, где только;</li>
                <li>В любое удобное нам время.</li>
            </ul>
        </section>

    </div>
</section>