{% extends "base.html" %}
{% block title %}бесПолезные товары | Категории товаров{% endblock %}
{% block main %}

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Категории товаров</h2>
    </header>

    <div class="container">

        <!-- Content -->
        <section id="content">

            {% if objects_list %}
            <ul>
                {% for item in objects_list %}
                <li>
                    <a href="/products/?id={{item.id}}">{{item.name}}</a>
                    ({{item.product_count()}} товаров)
                    <a href="/create-product/?id={{item.id}}">добавить товар</a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p><strong>Категории пока ещё никто не создавал!</strong></p>
            {% endif %}
            <a href="/create-category/" class="button small">добавить категорию</a>

        </section>
    </div>


</section>

{% endblock %}