{% extends "base.html" %}
{% block title %}бесПолезные товары | Создание клиента{% endblock %}
{% block main %}

<section id="main" class="wrapper style1">
    <header class="major">
        <h2>Создание клиента</h2>
    </header>

    <div class="container">

        <!-- Content -->
        <section id="content">

            <form method="post">
                <div class="row uniform">
                    <div class="6u 12u(3)">
                        <input type="text" name="name" id="name"
                               placeholder="Имя">
                    </div>
                    <div class="6u 12u(3)">
                        <input type="submit" value="Сохранить">
                    </div>
                </div>
            </form>
            <div>
                <a href="/clients/">&larr;&nbsp;к списку клиентов</a>
            </div>

        </section>
    </div>


</section>

{% endblock %}