<footer id="footer">
    <!-- Пока не вижу смысла в этом
    <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span
                class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-facebook"><span
                class="label">Facebook</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span
                class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-dribbble"><span
                class="label">Dribbble</span></a></li>
        <li><a href="#" class="icon fa-envelope"><span
                class="label">Envelope</span></a></li>
    </ul> -->
    <ul class="menu">
        <li><a href="{{ main_menu.index }}">Главная</a></li>
        <li><a href="{{ main_menu.about }}">О нас</a></li>
        <li><a href="{{ main_menu.contacts }}">Контакты</a></li>
    </ul>
    <span class="copyright">
	    &copy; Copyright. Все права нарушены: <a href="{{ main_menu.index }}">Бобёр Inc.</a>
	</span>
</footer>