<section id="main" class="wrapper style1">
    <header class="major">
        <h2>бесПолезные товары</h2>
        <p>Сайт с самыми бесПолезными вещами на свете, не Упусти свой шанс!</p>
    </header>
    <div class="container">

        <!-- Content -->
        <section id="content">
            <!--            <a href="#" class="image fit"><img src="images/pic07.jpg" alt=""/></a>-->

            <h3>Категории товаров</h3>

            {% if objects_list %}
                <ul>
                    {% for item in objects_list %}
                    <li>
                        <a href="/products/?id={{item.id}}">{{item.name}}</a>
                        ({{item.product_count()}} товаров)
                    </li>
                    {% endfor %}
                </ul>
                <a href="/create-category/" class="button special small">создать категорию</a>

            {% else %}
            <p>Пока категорий нет, но вы можете
                <a href="/create-category/">создать категорию</a>.</p>
            {% endif %}

            <h3>Планируем начать поставки</h3>
            <ul>
                <li>Чего-нибудь произведённого из воздуха;</li>
                <li>Бобростроенные плотины с доставкой на дом;</li>
                <li>Калифорнийский мятный кукиш;</li>
                <li>Плановую экономику Советского Союза;</li>
                <li>Пока фантазия иссякла, всё-же мне почти сорок ;-)</li>
            </ul>
        </section>

    </div>
</section>